<footer class="footer">
    <section>
        <img src="../img/mail.png"  alt="">
        <img src="../img/vk.png"  alt="">
        <img src="../img/tg.png"  alt="">
    </section>
    <section>
        <a>wf@mail.ru</a>
        <a href="https://vk.com/mganikhin">Maksim Ganikhin</a>
        <a>wftg</a>
    </section>
</footer>
