<header class="header">
    <img class="logo" src="../img/logoWF.jpg" alt="logoWF">
    <img class="head" src="../img/logot.jpg" alt="logo">
    <table class="menu">
        <tr>
            <td><a data-id="initial" href="../initial">главная</a></td>
            <td><a href="#raskidki">раскидки</a></td>
            <td><a data-id="chat" href="../chat">общение</a></td>
            <td><a data-id="contacts" href="../contacts">контакты</a></td>
        </tr>
        <script src="../js/activeState.js"></script>
    </table>
</header>