<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat</title>
    <link rel="stylesheet" type="text/css" href='../css/main.css'>
</head>
<body class="body">

{{>header}}

<main class="chatMain">
    <p class="customFont">Сервис временно не поддерживается</p>
</main>
</body>
</html>

