<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Warface</title>
    <link rel="stylesheet" type="text/css" href='../css/main.css'>
    <script src="../js/activeState.js"></script>
</head>

<body class="body">
<table class="registration">
    <tr>
        <td><a href="../login">войти</a></td>
        <td>|</td>
        <td><a href="../registration">зарегистрироваться</a></td>
    </tr>
</table>

{{>header}}


<div id="list"></div>

<div class="container">
    <main class="main">
        <iframe class="video" src="https://www.youtube.com/embed/AJsTarh_ycM?si=_zrXLOzxI3rU4KLc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <p class="description">cайт предлагает базу данных по всем раскидкам в игре, позволяя игрокам быстро находить информацию о каждой гранате, и способах ее применения. кроме того, на сайте доступен общий чат, где игроки могут общаться между собой, делиться опытом и советами, а также помогать друг другу с вопросами и проблемами в игре.</p>
    </main>
</div>

{{>footer}}



<!--     <a href="http://localhost:63342/Warface/html/tableGenerator.html?_ijt=euoni3gh5qr13knct7sfcvnkrr&_ij_reload=RELOAD_ON_SAVE">table lab5</a>-->
<script src="../js/time.js"></script>
</body>
</html>